.main_g{
    display: grid;
    margin-left: 10%;
    margin-right: 58%;
}
.icon1{
    width:5%;   /*Controls google icon. */
    position: relative;
    top: 30px;
    left:20px;
}
.top_links{
margin-left: 10%;
display: grid;
grid-template-columns: 40px 60px 60px 60px 80px 165px 60px 60px;

font-size: 12px;
margin-right: 20%;
}

.link{
    text-decoration: none;
}


.small{

    font-size: 12px;
color: rgb(85, 85, 85);
}

#g_search:hover{
box-shadow:2px 2px 2px rgb(199, 199, 199);    
}

#g_search{
    border-radius: 20%;
    margin-left: 170px;
    width: 600px;
    background-image: url(https://img.icons8.com/android/24/000000/search.png);
    background-size: 3%;
    background-repeat: no-repeat;
    /* color:blue; */
   /* This color blue doesnt work.
   
   Next step is to tweak and perfect the search bar.*/ 
}