
.main_g{
    display: grid;
    margin-left: 10%;
    margin-right: 58%;
}
.icon1{
    width:5%;   /*Controls google icon. */
    position: relative;
    top: 40px;
    left:20px;
}
.top_links{
margin-left: 10%;
display: grid;
grid-template-columns: 30px 40px 30px 60px 30px 65px 30px 60px 30px 75px 20px 50px 70px 50px;
font-size: 12px;
margin-right: 20%;
align-items: center;
}

.g{
margin-left: 40px;
}

.h{
margin-left: 40px;
}

.link{
    text-decoration: none;
}


.small{

    font-size: 12px;
color: rgb(85, 85, 85);
}

#g_search:hover{
box-shadow:2px 2px 2px rgb(199, 199, 199);    
}

#g_search{
    border-radius: 0%;
    margin-left: 170px;
    width: 700px;
    background-image: url(https://img.icons8.com/android/24/000000/search.png);
    background-size: 3%;
    background-repeat: no-repeat;
    height: 40px;
    background-position-y: center;
background-position-x: right;
}

.shopping{
width: 25px;

/*Every tag that is oversized has been assigned the shopping class
for efficiency and appropriate */
}

.b1:hover{
background-color:#4e9afd ;

}

.b1{
    margin-left: 93%;
    color: white;
    background-color: #2483ff;
    height: 38px;
    width: 95px;
    border-radius: 10%;
    position: relative;
    bottom: 46px;

}

.search{
    margin-bottom: -2%;
}
.footer{
    margin-left: 10%;
    display: grid;
    grid-template-columns: 70px 120px 80px 100px;

}

.pre-footer{
    display: grid;
    grid-template-columns: 350px 150px 120px;
margin-left: 10%;
}

.parent-footer{
    background-color: #eee;
padding-bottom: 4%;
padding-top: 2%;
font-size: 12px;
color: gray;
}

.standard-link{
    text-decoration: none;
}

.row_one{
    grid-row: 2/3;
}

.row_two{
    grid-row: 2/3;

}

.row_three{
   grid-row: 2/3;
}

.row_four{
    grid-row: 2/3;    
}


/*
The section below this is all lower google Icon
*/

a{
    text-decoration: none;
}

.para{
    font-size:35px;
  }
  
  .ga{
    color:blue;
  }
  
  .gb{
    color:rgb(255, 217, 0);
    text-decoration: none;
  }
  
  .gc{
  color:green;
  }
  
  .ge{
    color:red;
    text-decoration: none;
  }
.icon2{
/* display: grid; */
grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
margin-left: 17%;
}

.page_numbers{
margin-left: 2%;

}

.next{
    margin-top:-55px;
    width: 50px;
margin-left: 16%;
height: 50px;
display: grid;
grid-gap: 10px;
justify-items: center;
margin-bottom: 3%;
}


.drop-down{


}

.drop-parent{
    display: grid;
}


.bold{
    
}